In [14]:
import pandas as pd 
import re

In [8]:
data = pd.read_csv("../dane/in_time.csv")

In [9]:
data.shape

(310000, 307)

In [10]:
out = pd.read_csv("../dane/out_of_time.csv")

In [13]:
data.columns

Index(['Ref_month', 'Customer_id', 'Birth_date', 'No_dependants',
       'Time_in_address', 'Time_in_current_job', 'Credit_cards', 'Debit_cards',
       'Active_accounts', 'Oldest_account_date',
       ...
       'out_transactions_amt_H8', 'out_transactions_amt_H7',
       'out_transactions_amt_H6', 'out_transactions_amt_H5',
       'out_transactions_amt_H4', 'out_transactions_amt_H3',
       'out_transactions_amt_H2', 'out_transactions_amt_H1',
       'out_transactions_amt_H0', 'Target'],
      dtype='object', length=307)

In [25]:
# Regular expression to match '_H' followed by one or more digits
pattern = re.compile(r'_H\d+$')

# Filter and return the list of column names matching the pattern
base_names = {pattern.sub('', col) for col in data.columns if pattern.search(col)}

not_series_data = [col for col in data.columns if not pattern.search(col)]

In [27]:
not_series_data

['Ref_month',
 'Customer_id',
 'Birth_date',
 'No_dependants',
 'Time_in_address',
 'Time_in_current_job',
 'Credit_cards',
 'Debit_cards',
 'Active_accounts',
 'Oldest_account_date',
 'Active_loans',
 'Active_mortgages',
 'Active_credit_card_lines',
 'Contract_origination_date',
 'Contract_end_date',
 'Num_borrowers',
 'Current_installment',
 'External_term_loan_balance',
 'External_mortgage_balance',
 'External_credit_card_balance',
 'Target']

In [30]:
data.isna().any().any()

False

In [33]:
time_series_columns =  [col for col in data.columns if pattern.search(col)]

In [36]:
xd = data[time_series_columns]

In [47]:
data[data.columns[data.columns.str.startswith("Payments")]]

data[data.columns[data.columns.str.startswith("Payments_term_loan")]]

,Payments_term_loan_H12,Payments_term_loan_H11,Payments_term_loan_H10,Payments_term_loan_H9,Payments_term_loan_H8,Payments_term_loan_H7,Payments_term_loan_H6,Payments_term_loan_H5,Payments_term_loan_H4,Payments_term_loan_H3,Payments_term_loan_H2,Payments_term_loan_H1,Payments_term_loan_H0
0,806.74,817.71,838.43,802.23,0.00,814.39,829.17,832.37,1612.39,816.28,822.97,828.33,819.50
1,178.12,179.09,176.82,174.48,0.00,171.51,183.84,197.11,378.66,187.60,187.73,195.83,193.87
2,996.96,991.96,1013.58,999.26,1014.15,998.85,1006.08,1000.75,1017.14,1012.45,0.00,1008.05,1003.37
3,229.84,233.63,219.99,224.56,212.37,237.98,218.43,227.53,0.00,211.70,236.07,214.20,219.50
4,575.29,588.38,586.39,0.00,557.75,1155.98,584.67,0.00,559.58,1165.11,585.03,591.83,604.96
...,...,...,...,...,...,...,...,...,...,...,...,...,...
309995,649.10,656.01,0.00,1325.41,651.92,653.97,643.59,654.20,653.71,656.95,663.90,654.89,651.46
309996,242.69,256.56,242.63,235.83,0.00,233.99,263.60,460.39,221.81,0.00,469.65,249.99,244.46
309997,369.78,357.40,358.87,377.08,383.48,357.43,368.87,365.88,356.20,368.62,357.23,360.50,381.07
309998,668.09,676.03,674.48,665.20,662.49,677.77,660.26,673.61,656.52,668.71,657.38,671.86,677.88
309999,181.48,187.15,221.77,181.80,0.00,180.68,202.99,400.63,201.56,0.00,409.11,199.73,206.54

In [43]:
data[data['Default_flag_H1']==1]

,Ref_month,Customer_id,Birth_date,No_dependants,Time_in_address,Time_in_current_job,Credit_cards,Debit_cards,Active_accounts,Oldest_account_date,...,out_transactions_amt_H8,out_transactions_amt_H7,out_transactions_amt_H6,out_transactions_amt_H5,out_transactions_amt_H4,out_transactions_amt_H3,out_transactions_amt_H2,out_transactions_amt_H1,out_transactions_amt_H0,Target
32,09-2022,33926056,18-12-1982,2,4.28,1.04,0,2,1,05-02-2004,...,6777.20,7130.98,6494.50,7185.05,7464.40,6832.41,7554.32,7035.19,6505.50,0
35,01-2022,32744123,29-07-1963,2,9.33,3.42,0,2,1,13-10-1989,...,3798.37,3916.18,4058.88,3861.20,3920.23,3790.04,3892.45,4057.45,3854.63,1
42,07-2022,31178206,22-03-1976,0,7.50,3.66,0,1,1,20-03-2006,...,3288.26,3299.05,3424.90,3282.36,3391.52,3248.41,3532.91,3564.56,3433.94,0
98,02-2022,37578355,06-02-1978,3,6.92,0.08,0,1,1,02-04-2002,...,5915.15,6017.34,7042.89,9211.75,7290.18,7058.69,6575.31,6606.62,7270.08,0
107,06-2022,33632928,09-04-1985,1,6.01,3.42,0,1,1,10-10-2008,...,4374.30,4713.52,4530.77,4322.39,4399.95,4629.84,4770.33,4488.01,4161.34,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
309895,01-2022,32089739,14-07-1977,1,3.09,5.65,1,1,1,19-01-2002,...,8036.07,7373.84,7394.42,6764.47,7644.78,7207.51,6378.52,7500.48,7145.18,0
309910,09-2022,34031999,13-06-1980,2,1.91,0.42,1,2,1,25-09-2008,...,6624.05,6817.96,6472.58,6379.15,7183.61,6840.54,6731.77,6879.59,6554.40,0
309930,11-2022,30407640,23-08-1999,1,1.32,0.50,0,2,1,08-01-2019,...,5366.71,4998.80,5484.86,5299.34,4321.17,5303.19,4739.65,6483.89,4970.75,0
309936,07-2022,39198482,05-09-1962,1,18.92,6.18,1,1,2,22-12-1986,...,3852.42,3897.46,3905.58,3586.16,3819.95,3960.73,4210.12,4070.44,3880.95,1
309974,08-2022,36507998,04-12-1977,3,17.09,11.29,0,1,1,12-05-2004,...,5048.81,4397.38,4733.38,4464.90,4363.73,4488.75,5033.55,4904.86,4529.09,1

In [ ]:
Number of dependants, to drop cuz it does not explain 



SIN current amount balance 
SIN current instalement

EMA 

# Function to calculate EMA for a row
def calculate_ema(row, N):
    k = 2 / (N + 1)
    ema = row[0]  # Initialize EMA with the first value in the row
    for value in row[1:]:
        ema = (value * k) + (ema * (1 - k))
    return ema

# Apply EMA calculation row-wise    
N = len(columns)  # Total number of observations
df['EMA'] = df.apply(lambda row: calculate_ema(row, N), axis=1)

In [44]:
import math

59.32437666432634