In [14]:
import pandas as pd 
import re

In [8]:
data = pd.read_csv("../dane/in_time.csv")

In [9]:
data.shape

(310000, 307)

In [10]:
out = pd.read_csv("../dane/out_of_time.csv")

In [13]:
data.columns

Index(['Ref_month', 'Customer_id', 'Birth_date', 'No_dependants',
       'Time_in_address', 'Time_in_current_job', 'Credit_cards', 'Debit_cards',
       'Active_accounts', 'Oldest_account_date',
       ...
       'out_transactions_amt_H8', 'out_transactions_amt_H7',
       'out_transactions_amt_H6', 'out_transactions_amt_H5',
       'out_transactions_amt_H4', 'out_transactions_amt_H3',
       'out_transactions_amt_H2', 'out_transactions_amt_H1',
       'out_transactions_amt_H0', 'Target'],
      dtype='object', length=307)

In [25]:
# Regular expression to match '_H' followed by one or more digits
pattern = re.compile(r'_H\d+$')

# Filter and return the list of column names matching the pattern
base_names = {pattern.sub('', col) for col in data.columns if pattern.search(col)}

not_series_data = [col for col in data.columns if not pattern.search(col)]

In [96]:
base_names

{'Current_amount_balance',
 'DPD_credit_card',
 'DPD_mortgage',
 'DPD_term_loan',
 'Default_flag',
 'Income',
 'Os_credit_card',
 'Os_mortgage',
 'Os_term_loan',
 'Overdue_credit_card',
 'Overdue_mortgage',
 'Overdue_term_loan',
 'Payments_credit_card',
 'Payments_mortgage',
 'Payments_term_loan',
 'Savings_amount_balance',
 'inc_transactions',
 'inc_transactions_amt',
 'limit_in_revolving_loans',
 'out_transactions',
 'out_transactions_amt',
 'utilized_limit_in_revolving_loans'}

In [27]:
not_series_data

['Ref_month',
 'Customer_id',
 'Birth_date',
 'No_dependants',
 'Time_in_address',
 'Time_in_current_job',
 'Credit_cards',
 'Debit_cards',
 'Active_accounts',
 'Oldest_account_date',
 'Active_loans',
 'Active_mortgages',
 'Active_credit_card_lines',
 'Contract_origination_date',
 'Contract_end_date',
 'Num_borrowers',
 'Current_installment',
 'External_term_loan_balance',
 'External_mortgage_balance',
 'External_credit_card_balance',
 'Target']

In [30]:
data.isna().any().any()

False

In [33]:
time_series_columns =  [col for col in data.columns if pattern.search(col)]

In [36]:
xd = data[time_series_columns]

In [49]:
data[data.columns[data.columns.str.startswith("Payments")]]

data[data.columns[data.columns.str.startswith("Payments_term_loan")]].mean(axis=1)


data[data.columns[data.columns.str.startswith("Payments_term_loan")]]

,Payments_term_loan_H12,Payments_term_loan_H11,Payments_term_loan_H10,Payments_term_loan_H9,Payments_term_loan_H8,Payments_term_loan_H7,Payments_term_loan_H6,Payments_term_loan_H5,Payments_term_loan_H4,Payments_term_loan_H3,Payments_term_loan_H2,Payments_term_loan_H1,Payments_term_loan_H0
0,806.74,817.71,838.43,802.23,0.00,814.39,829.17,832.37,1612.39,816.28,822.97,828.33,819.50
1,178.12,179.09,176.82,174.48,0.00,171.51,183.84,197.11,378.66,187.60,187.73,195.83,193.87
2,996.96,991.96,1013.58,999.26,1014.15,998.85,1006.08,1000.75,1017.14,1012.45,0.00,1008.05,1003.37
3,229.84,233.63,219.99,224.56,212.37,237.98,218.43,227.53,0.00,211.70,236.07,214.20,219.50
4,575.29,588.38,586.39,0.00,557.75,1155.98,584.67,0.00,559.58,1165.11,585.03,591.83,604.96
...,...,...,...,...,...,...,...,...,...,...,...,...,...
309995,649.10,656.01,0.00,1325.41,651.92,653.97,643.59,654.20,653.71,656.95,663.90,654.89,651.46
309996,242.69,256.56,242.63,235.83,0.00,233.99,263.60,460.39,221.81,0.00,469.65,249.99,244.46
309997,369.78,357.40,358.87,377.08,383.48,357.43,368.87,365.88,356.20,368.62,357.23,360.50,381.07
309998,668.09,676.03,674.48,665.20,662.49,677.77,660.26,673.61,656.52,668.71,657.38,671.86,677.88
309999,181.48,187.15,221.77,181.80,0.00,180.68,202.99,400.63,201.56,0.00,409.11,199.73,206.54

In [43]:
data[data['Default_flag_H1']==1]

,Ref_month,Customer_id,Birth_date,No_dependants,Time_in_address,Time_in_current_job,Credit_cards,Debit_cards,Active_accounts,Oldest_account_date,...,out_transactions_amt_H8,out_transactions_amt_H7,out_transactions_amt_H6,out_transactions_amt_H5,out_transactions_amt_H4,out_transactions_amt_H3,out_transactions_amt_H2,out_transactions_amt_H1,out_transactions_amt_H0,Target
32,09-2022,33926056,18-12-1982,2,4.28,1.04,0,2,1,05-02-2004,...,6777.20,7130.98,6494.50,7185.05,7464.40,6832.41,7554.32,7035.19,6505.50,0
35,01-2022,32744123,29-07-1963,2,9.33,3.42,0,2,1,13-10-1989,...,3798.37,3916.18,4058.88,3861.20,3920.23,3790.04,3892.45,4057.45,3854.63,1
42,07-2022,31178206,22-03-1976,0,7.50,3.66,0,1,1,20-03-2006,...,3288.26,3299.05,3424.90,3282.36,3391.52,3248.41,3532.91,3564.56,3433.94,0
98,02-2022,37578355,06-02-1978,3,6.92,0.08,0,1,1,02-04-2002,...,5915.15,6017.34,7042.89,9211.75,7290.18,7058.69,6575.31,6606.62,7270.08,0
107,06-2022,33632928,09-04-1985,1,6.01,3.42,0,1,1,10-10-2008,...,4374.30,4713.52,4530.77,4322.39,4399.95,4629.84,4770.33,4488.01,4161.34,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
309895,01-2022,32089739,14-07-1977,1,3.09,5.65,1,1,1,19-01-2002,...,8036.07,7373.84,7394.42,6764.47,7644.78,7207.51,6378.52,7500.48,7145.18,0
309910,09-2022,34031999,13-06-1980,2,1.91,0.42,1,2,1,25-09-2008,...,6624.05,6817.96,6472.58,6379.15,7183.61,6840.54,6731.77,6879.59,6554.40,0
309930,11-2022,30407640,23-08-1999,1,1.32,0.50,0,2,1,08-01-2019,...,5366.71,4998.80,5484.86,5299.34,4321.17,5303.19,4739.65,6483.89,4970.75,0
309936,07-2022,39198482,05-09-1962,1,18.92,6.18,1,1,2,22-12-1986,...,3852.42,3897.46,3905.58,3586.16,3819.95,3960.73,4210.12,4070.44,3880.95,1
309974,08-2022,36507998,04-12-1977,3,17.09,11.29,0,1,1,12-05-2004,...,5048.81,4397.38,4733.38,4464.90,4363.73,4488.75,5033.55,4904.86,4529.09,1

In [54]:
data['savings_amount_balance_H3']

KeyError: 'savings_amount_balance_H3'

In [ ]:
Number of dependants, to drop cuz it does not explain 



SIN current amount balance 
SIN current instalement

EMA 

# Function to calculate EMA for a row
def calculate_ema(row, N):
    k = 2 / (N + 1)
    ema = row[0]  # Initialize EMA with the first value in the row
    for value in row[1:]:
        ema = (value * k) + (ema * (1 - k))
    return ema

# Apply EMA calculation row-wise    
N = len(columns)  # Total number of observations
df['EMA'] = df.apply(lambda row: calculate_ema(row, N), axis=1)

In [44]:
import math

59.32437666432634

In [ ]:
Number of credit cards
Number of active credit card lines
Number of debit cards
Number of active term loans
Number of active mortgages

In [59]:
columns_financial_liabilities = ["Credit_cards",
"Active_credit_card_lines",
"Debit_cards",
"Active_loans",
"Active_mortgages",
"Active_accounts"]

In [74]:
import statsmodels.api as sm

In [86]:
df = data[columns_financial_liabilities + ['Target']].replace(-9999, 0)  #we replaced -9999 with zero 

X = df.iloc[:, :-1]  # Assuming the last column is the target
y = df.iloc[:, -1]

# Add a constant to the features (important for statsmodels)
X = sm.add_constant(X)

# Fit the logistic regression model
model = sm.Logit(y, X).fit()

# Print the summary of the logistic regression model
print(model.summary())

# Apply the coefficients as weights to sum all columns in each row
# Note: We skip the first coefficient as it's the intercept
coefficients = model.params[1:]  # Exclude intercept


coefficients


weighted_sum = (X.iloc[:, 1:] * coefficients.values).sum(axis=1)

Optimization terminated successfully.
         Current function value: 0.246363
         Iterations 11
                           Logit Regression Results
==============================================================================
Dep. Variable:                 Target   No. Observations:               310000
Model:                          Logit   Df Residuals:                   309993
Method:                           MLE   Df Model:                            6
Date:                Wed, 03 Apr 2024   Pseudo R-squ.:                 0.01359
Time:                        19:29:35   Log-Likelihood:                -76373.
converged:                       True   LL-Null:                       -77425.
Covariance Type:            nonrobust   LLR p-value:                     0.000
============================================================================================
                               coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------------
const                        1.4173      0.244      5.801      0.000       0.938       1.896
Credit_cards                 0.0444      0.025      1.757      0.079      -0.005       0.094
Active_credit_card_lines    -0.0969      0.031     -3.104      0.002      -0.158      -0.036
Debit_cards                 -0.0104      0.010     -1.054      0.292      -0.030       0.009
Active_loans                -3.9177      0.243    -16.132      0.000      -4.394      -3.442
Active_mortgages            -0.4440      0.027    -16.572      0.000      -0.497      -0.392
Active_accounts              0.0115      0.015      0.743      0.458      -0.019       0.042
============================================================================================

0        -3.915538
1        -3.916643
2        -4.423520
3        -3.916643
4        -3.969120
            ...
309995   -3.916643
309996   -3.905185
309997   -3.926997
309998   -3.916643
309999   -3.916643
Length: 310000, dtype: float64

,const,Credit_cards,Active_credit_card_lines,Debit_cards,Active_loans,Active_mortgages,Active_accounts
0,1.0,0,0,2,1,0,2
1,1.0,0,0,1,1,0,1
2,1.0,1,1,2,1,1,1
3,1.0,0,0,1,1,0,1
4,1.0,1,1,1,1,0,1
...,...,...,...,...,...,...,...
309995,1.0,0,0,1,1,0,1
309996,1.0,0,0,1,1,0,2
309997,1.0,0,0,2,1,0,1
309998,1.0,0,0,1,1,0,1
309999,1.0,0,0,1,1,0,1

In [85]:
X.iloc[:, 1:] * coefficients.values

,Credit_cards,Active_credit_card_lines,Debit_cards,Active_loans,Active_mortgages,Active_accounts
0,0.000000,-0.000000,-0.020707,-3.917749,-0.000000,0.022918
1,0.000000,-0.000000,-0.010353,-3.917749,-0.000000,0.011459
2,0.044407,-0.096883,-0.020707,-3.917749,-0.444047,0.011459
3,0.000000,-0.000000,-0.010353,-3.917749,-0.000000,0.011459
4,0.044407,-0.096883,-0.010353,-3.917749,-0.000000,0.011459
...,...,...,...,...,...,...
309995,0.000000,-0.000000,-0.010353,-3.917749,-0.000000,0.011459
309996,0.000000,-0.000000,-0.010353,-3.917749,-0.000000,0.022918
309997,0.000000,-0.000000,-0.020707,-3.917749,-0.000000,0.011459
309998,0.000000,-0.000000,-0.010353,-3.917749,-0.000000,0.011459
309999,0.000000,-0.000000,-0.010353,-3.917749,-0.000000,0.011459

In [55]:
df = pd.read_csv('financial_data.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'financial_data.csv'

## max / mean

In [92]:
def max_by_mean(data: pd.DataFrame, prefix: str) -> pd.Series:
    data_for_prefix = data[data.columns[data.columns.str.startswith(prefix)]]
    data_for_prefix_adj = data_for_prefix + 1

    return data_for_prefix_adj.max(axis=1)/data_for_prefix_adj.mean(axis=1)


max_by_mean(data, "DPD_credit_card")

0         1.000000
1         1.000000
2         1.000000
3         1.000000
4         6.267857
            ...
309995    1.000000
309996    1.000000
309997    1.000000
309998    1.000000
309999    1.000000
Length: 310000, dtype: float64

In [95]:
def variance(data: pd.DataFrame, prefix: str) -> pd.Series:
    data_for_prefix = data[data.columns[data.columns.str.startswith(prefix)]]

    return data_for_prefix.var(axis=1)

variance(data, "DPD_credit_card")

0           0.000000
1           0.000000
2           0.000000
3           0.000000
4         259.423077
             ...
309995      0.000000
309996      0.000000
309997      0.000000
309998      0.000000
309999      0.000000
Length: 310000, dtype: float64

In [179]:


# time_series_data = ['Current_amount_balance',
#  'DPD_credit_card',
#  'DPD_mortgage',
#  'DPD_term_loan',
#  'Default_flag',
#  'Income',
#  'Os_credit_card',
#  'Os_mortgage',
#  'Os_term_loan',
#  'Overdue_credit_card',
#  'Overdue_mortgage',
#  'Overdue_term_loan',
#  'Payments_credit_card',
#  'Payments_mortgage',
#  'Payments_term_loan',
#  'Savings_amount_balance',
#  'inc_transactions',
#  'inc_transactions_amt',
#  'limit_in_revolving_loans',
#  'out_transactions',
#  'out_transactions_amt',
#  'utilized_limit_in_revolving_loans']




time_series_data = [ 'DPD_credit_card',
 'DPD_mortgage',
 'DPD_term_loan',
 'Default_flag',
 'Os_credit_card',
 'Os_mortgage',
 'Overdue_credit_card',
 'Overdue_mortgage',
 'Overdue_term_loan',]

In [186]:

selected_columns = [col for col in data.columns if any(col.startswith(base + '_H') for base in xddd)]

# Display the DataFrame with only the selected columns
filtered_df = data[selected_columns]
filtered_df

,out_transactions_H12,out_transactions_H11,out_transactions_H10,out_transactions_H9,out_transactions_H8,out_transactions_H7,out_transactions_H6,out_transactions_H5,out_transactions_H4,out_transactions_H3,...,out_transactions_amt_H9,out_transactions_amt_H8,out_transactions_amt_H7,out_transactions_amt_H6,out_transactions_amt_H5,out_transactions_amt_H4,out_transactions_amt_H3,out_transactions_amt_H2,out_transactions_amt_H1,out_transactions_amt_H0
0,141,88,149,80,75,52,98,102,82,93,...,3960.43,4576.57,3981.55,4607.80,4182.93,3831.11,4210.16,3832.29,4727.64,4022.14
1,137,107,278,194,99,237,65,106,49,91,...,3552.80,3472.92,3559.04,3564.92,3614.82,3602.57,3552.99,3584.06,3512.58,3624.90
2,118,59,50,187,86,65,99,329,47,53,...,13440.50,14188.19,12669.79,13334.48,12731.75,12651.15,12282.69,12287.79,12827.02,12984.93
3,91,53,118,161,162,63,58,108,68,191,...,4390.50,4286.46,3914.78,4005.07,4094.73,3926.17,4433.92,3964.59,4014.69,4331.89
4,44,89,133,117,32,183,225,155,43,139,...,4439.33,4421.30,4666.98,5053.99,4816.87,4314.71,4711.88,5014.49,4152.09,5288.72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
309995,90,44,116,235,135,77,157,126,63,211,...,4428.48,4545.08,4398.42,4115.42,4334.34,4113.10,4423.33,4726.98,4200.09,4099.52
309996,71,66,116,155,143,153,66,120,108,240,...,3857.89,4316.77,4325.59,4299.23,3834.01,3677.22,3835.20,4658.65,3992.09,4061.19
309997,80,120,118,299,113,102,122,69,78,102,...,4795.86,4640.76,5325.48,4832.33,5319.56,5117.83,4823.07,5510.92,5145.15,4537.41
309998,101,27,117,72,187,185,80,125,55,133,...,4924.47,4469.91,4319.86,4890.04,4619.89,5206.99,4425.69,4695.32,4632.36,4729.46
309999,119,113,105,76,64,283,164,96,112,132,...,3579.49,3645.49,3864.10,4222.49,3535.97,3598.82,3874.99,3738.57,3569.16,3713.22

In [181]:
df = data.copy()
data_attention = data['Target'].reset_index()

for columns in time_series_data:  
    data_attention[f'var_{columns}'] = variance(data, columns)
    data_attention[f'max_by_mean_{columns}'] = max_by_mean(data, columns)

In [182]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, roc_auc_score, balanced_accuracy_score
from sklearn.model_selection import train_test_split

In [183]:
X = data_attention.drop(['index', 'Target'], axis=1)
y = data_attention['Target']

In [184]:
# Split into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [185]:
# Initialize and train classifier
dt_classifier = DecisionTreeClassifier(random_state=42)
dt_classifier.fit(X_train, y_train)

# Make predictions
y_pred = dt_classifier.predict(X_test)
y_pred_proba = dt_classifier.predict_proba(X_test)[:, 1]

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy}")

auc = roc_auc_score(y_test, y_pred_proba)
print(f"AUC: {auc}")

# Calculate balanced accuracy
balanced_accuracy = balanced_accuracy_score(y_test, y_pred)
print(f"Balanced Accuracy: {balanced_accuracy}")

Accuracy: 0.9142903225806451
AUC: 0.6102061074118368
Balanced Accuracy: 0.65483858531872

In [187]:
data_attention

,index,Target,var_DPD_credit_card,max_by_mean_DPD_credit_card,var_DPD_mortgage,max_by_mean_DPD_mortgage,var_DPD_term_loan,max_by_mean_DPD_term_loan,var_Default_flag,max_by_mean_Default_flag,var_Os_credit_card,max_by_mean_Os_credit_card,var_Os_mortgage,max_by_mean_Os_mortgage,var_Overdue_credit_card,max_by_mean_Overdue_credit_card,var_Overdue_mortgage,max_by_mean_Overdue_mortgage,var_Overdue_term_loan,max_by_mean_Overdue_term_loan
0,0,0,0.000000,1.000000,0.000000,1.000000,122.076923,2.971429,0.000000,1.000000,0.000000,1.000000,0.000000e+00,1.000000,0.0,1.0,0.000000e+00,1.000000,158781.613869,3.241219
1,1,0,0.000000,1.000000,0.000000,1.000000,168.230769,3.008264,0.076923,1.857143,0.000000,1.000000,0.000000e+00,1.000000,0.0,1.0,0.000000e+00,1.000000,8589.688823,3.212726
2,2,0,0.000000,1.000000,6.923077,2.935484,7.692308,6.217391,0.000000,1.000000,3441.938506,2.254951,6.489777e+08,1.047911,0.0,1.0,9.911659e+06,4.331323,79939.779723,12.848899
3,3,0,0.000000,1.000000,0.000000,1.000000,161.730769,3.900000,0.076923,1.857143,0.000000,1.000000,0.000000e+00,1.000000,0.0,1.0,0.000000e+00,1.000000,8777.317231,4.267066
4,4,0,259.423077,6.267857,0.000000,1.000000,52.256410,3.027397,0.076923,1.857143,721.614992,2.061091,0.000000e+00,1.000000,0.0,1.0,0.000000e+00,1.000000,77428.885419,3.308186
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
309995,309995,0,0.000000,1.000000,0.000000,1.000000,64.692308,9.285714,0.076923,1.857143,0.000000,1.000000,0.000000e+00,1.000000,0.0,1.0,0.000000e+00,1.000000,32836.868431,12.765892
309996,309996,0,0.000000,1.000000,0.000000,1.000000,91.692308,3.397727,0.076923,1.857143,0.000000,1.000000,0.000000e+00,1.000000,0.0,1.0,0.000000e+00,1.000000,12717.994731,3.312689
309997,309997,0,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000e+00,1.000000,0.0,1.0,0.000000e+00,1.000000,0.000000,1.000000
309998,309998,0,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000e+00,1.000000,0.0,1.0,0.000000e+00,1.000000,0.000000,1.000000
309999,309999,0,0.000000,1.000000,0.000000,1.000000,75.692308,5.200000,0.076923,1.857143,0.000000,1.000000,0.000000e+00,1.000000,0.0,1.0,0.000000e+00,1.000000,10491.501277,3.227704